<h2>Appointment List</h2>

<div>
  Action: <button class="btn btn-sm btn-primary" type="button" (click)='ngOnInit()'>Reload the data</button>
</div>

<!-- <button (click)='getApp()'>post</button>
<ng-container *ngFor='let p of devPost | async'>
{{ p | json}}
</ng-container> -->

<!-- user filter -->
User Filter: <button class="btn btn-sm btn-outline-secondary" type="button" (click)='filterByUserID(-1)'
  [ngClass]="{'btn-success': userID === -1, 'btn-outline-secondary': userID !== -1}">All Users</button>
<ng-container *ngFor='let user of users | async'>
  <button class="btn btn-sm" type="button" (click)='filterByUserID(user.Id)'
    [ngClass]="{'btn-success': userID === user.Id, 'btn-outline-secondary': userID !== user.Id}">
    {{ user.Name }}
  </button>
</ng-container>

<!-- appointment list -->
<table class="table table-striped mt-5">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Description</th>
      <th scope="col">Start time</th>
      <th scope="col">End time</th>
      <th scope="col">User</th>
      <th scope="col">Notes</th>
      <th scope="col">Aciton</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let appointment of filteredAppointments | async | orderByUserId:userID'>
      <td class="align-middle">{{ appointment.Id }}</td>
      <td class="align-middle">
        <a (click)='edit(appointment)'>
          <span *ngIf='appointment !== editAppointment'>{{ appointment.Description }}	&#9999;</span>
          <input *ngIf='appointment === editAppointment' [(ngModel)]='appointment.Description'
            (blur)='update()' (keyup.enter)='update()'>
        </a>
      </td>
      <td class="align-middle">
        <a (click)='edit(appointment)'>
          <span *ngIf='appointment !== editAppointment'>{{ appointment.Start | date:'d/M/y, h:mm a'}}</span>
          <input type='datetime-local' *ngIf='appointment === editAppointment' [(ngModel)]='appointment.Start'
            (blur)='update()' (keyup.enter)='update()' value='{{ appointment.Start }}'>
        </a>
      </td>
      <td class="align-middle">
        <a (click)='edit(appointment)'>
          <span *ngIf='appointment !== editAppointment'>{{ appointment.End | date:'d/M/y, h:mm a'}}</span>
          <input type='datetime-local' *ngIf='appointment === editAppointment' [(ngModel)]='appointment.End'
            (blur)='update()' (keyup.enter)='update()' value='{{ appointment.End }}'>
        </a>
      </td>
      <td class="align-middle">
        <ng-container *ngFor='let partyId of appointment.Party'>
          <ng-container *ngFor='let user of fetchedUsers | async'>
            <button class='btn btn-success btn-sm' *ngIf='user.Id === partyId'
              title="Click to see his appointments"
              (click)='filterByUserID(user.Id)'>{{ user.Name }}</button>
          </ng-container>
        </ng-container>
      </td>
      <td class="align-middle">
        <div *ngFor='let note of appointment.Notes'>
          <button type='button' class='btn btn-info btn-sm'>{{ note }}</button>
        </div>
      </td>
      <td class="align-middle">
            <button type='button' class='btn btn-info btn-sm' (click)='getApp(appointment.Id)'
              data-toggle="modal" data-target="#viewModal" id="buttonId">Edit</button>
        </td>
    </tr>
    <!-- <tr *ngIf='((allAppointments | async) !== null) ? ((allAppointments | async).length === 0) : false'>
      <td colspan="4">No Appointment Found.</td>
    </tr> -->
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalLabel">Appointment Details #{{ viewApp.Id }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" aria-describedby="descriptionHelp" value="{{ viewApp.Description }}">
            <small id="descriptionHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="starttime">Start time</label>
            <input type="datetime-local" class="form-control" id="starttime" value="{{ viewApp.Start }}">
          </div>
          <div class="form-group">
            <label for="endtime">End time</label>
            <input type="datetime-local" class="form-control" id="endtime" value="{{ viewApp.End }}">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Invitees (multiple select)</label>
            <select multiple class="form-control" id="party">
              <ng-container *ngFor='let user of users | async'>
                  <option value="{{ user.Id }}" *ngIf='viewApp.Party.includes(user.Id); else falsyTemplate' selected>
                      {{ user.Name }}</option>
                      <ng-template #falsyTemplate>
                          <option value="{{ user.Id }}">{{ user.Name }}</option>
                      </ng-template>
              </ng-container>
            </select>
          </div>
          <div class="form-group">
              <label for="notes">Notes</label>
              <input type="notes-local" class="form-control" id="notes" value="{{ viewApp.Notes }}">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>
