<h2>Appointment List</h2>

<!-- user filter -->
<button class="btn btn-primary btn-sm" type="button" (click)='filterByUserID(-1)'>All Users</button>
<ng-container *ngFor='let user of users | async'>
  <button class="btn btn-secondary btn-sm" type="button" (click)='filterByUserID(user.Id)'>
    {{ user.Name }} ( ID: {{ user.Id }} )
  </button>
</ng-container>

<!-- appointment list -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Description</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">User</th>
      <th scope="col">Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let appointment of filteredAppointments | async | orderByUserId:userID'>
      <td>{{ appointment.Id }}</td>
      <td>
        <a (click)='edit(appointment)'>
          <span *ngIf='appointment !== editAppointment'>{{ appointment.Description }}</span>
          <input *ngIf='appointment === editAppointment' [(ngModel)]='appointment.Description'
            (blur)='update()' (keyup.enter)='update()'>
        </a>
      </td>
      <td>
        <a (click)='edit(appointment)'>
          <span *ngIf='appointment !== editAppointment'>{{ appointment.Start | date:'d/M/y, h:mm a'}}</span>
          <input type='datetime-local' *ngIf='appointment === editAppointment' [(ngModel)]='appointment.Start'
            (blur)='update()' (keyup.enter)='update()' value='{{ appointment.Start }}'>
        </a>
      </td>
      <td>
        <a (click)='edit(appointment)'>
          <span *ngIf='appointment !== editAppointment'>{{ appointment.End | date:'d/M/y, h:mm a'}}</span>
          <input type='datetime-local' *ngIf='appointment === editAppointment' [(ngModel)]='appointment.End'
            (blur)='update()' (keyup.enter)='update()' value='{{ appointment.End }}'>
        </a>
      </td>
      <td>{{ appointment.Party }}</td>
      <td>{{ appointment.Notes }}</td>
    </tr>
    <!-- <tr *ngIf='((allAppointments | async) !== null) ? ((allAppointments | async).length === 0) : false'>
      <td colspan="4">No Appointment Found.</td>
    </tr> -->
  </tbody>
</table>

