<h3>
  List all appointments
</h3>
<!-- <button class="btn btn-primary" (click)='getAppointments()'>Get appointments</button> -->
<!-- <div *ngFor='let appointment of allAppointments | async'> -->
  <!-- {{ appointment | json }} -->
  <!-- <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Appointment ID: {{ appointment.Id }}</div>
    <div class="card-body">
      <h5 class="card-title">Description: {{ appointment.Description }}</h5>
      <p class="card-text">Start: {{ appointment.Start }}</p>
      <p class="card-text">End: {{ appointment.End }}</p>
      <p class="card-text">Notes: {{ appointment.Notes }}</p>
      <p class="card-text">Party: {{ appointment.Party }}</p>
      <p class="card-text">ProviderEmail: {{ appointment.ProviderEmail }}</p>
    </div>
  </div> -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Description</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let appointment of allAppointments | async'>
        <td>{{ appointment.Id }}</td>
        <td>{{ appointment.Description }}</td>
        <td>{{ appointment.Start | date:'medium'}}</td>
        <td>{{ appointment.End | date:'medium'}}</td>
      </tr>
      <!-- <tr *ngIf='((allAppointments | async) !== null) ? ((allAppointments | async).length === 0) : false'>
        <td colspan="4">No Appointment Found.</td>
      </tr> -->
    </tbody>
  </table>
<!-- </div> -->
